/*
    Author: Abhishek Prajapati

    This file contains font resets for browsers. After applying it your fonts will become responsive to all devices without media query.
    It usage techniques and tweaks of fluid-typography. By Understanding a little bit about min(), max(), calc(), clamp() css functions, 
    you can extend it according to your needs... :)
*/



:root{
  font-size: 62.5% !important;
}


body {
    font-size: 1.6rem !important;
    font-size: clamp(1.6rem, 1.6rem + .5vw, 1.8rem) !important;
}

p,
.paragraph,
input,
button {
    font-size: calc(1rem + .5vmin);
    font-size: clamp(.8rem, .8rem + 1vw, 1.8rem) !important;
}

h1,
.fs-1 {
    font-size: calc(2rem + .5vmin);
    font-size: clamp(1.8rem, 1.5rem + 1vw, 3rem) !important;
}

h2,
.fs-2 {
    font-size: calc(1.8rem + .5vmin);
    font-size: clamp(1.6rem, 1.6rem + 1vw, 2.8rem) !important;
}

h3,
.fs-3 {
    font-size: calc(1.6rem + .5vmin);
    font-size: clamp(1.4rem, 1.4rem + 1vw, 2.6rem) !important;
}

h4,
.fs-4 {
    font-size: calc(1.4rem + .5vmin);
    font-size: clamp(1.2rem, 1.2rem + 1vw, 2.4rem) !important;
}

h5,
.fs-5 {
    font-size: calc(1.2rem + .5vmin);
    font-size: clamp(1rem, 1rem + 1vw, 2.2rem) !important;
}


h6,
.fs-6,
.smaller-text,
ul {
    font-size: calc(.6rem + .5vmin);
    font-size: clamp(.6rem, .6rem + 1vw, 1.6rem) !important;
}

.caption-text {
    font-size: calc(.4rem + .5vmin);
    font-size: clamp(.4rem, .4rem + 1vw, 1.4rem) !important;
}
