/* 
 this fun trick can be used to make responsive grid layout system without writing even a single line of media query... :)
 How ever it is possible to extend its responsiveness for fixed size boxes with a little amount of media query. but still it saves a lot of bundle size. 
 
 NOTE: In order to work this great set root element's font size at 62.5%. And don't worry it won't break brower's default font size.
*/
.grid{
  display: grid;
  gap: 1rem;
  place-content: center; 
}
.grid-sm{
  grid-template-columns: repeat(auto-fill, minmax(clamp(10rem, calc(10rem + 1vw), 10rem), 1fr));
}

.grid-md{
  grid-template-columns: repeat(auto-fill, minmax(clamp(20rem, calc(25rem + 1vw), 30rem), 1fr));
}


/* similarly you can create more variants.  :) */

/* best for cards layout having thumbnails */
.grid-card{ 
  grid-template-columns: repeat(auto-fill, minmax(calc(15rem + 5vw), 1fr));
}
 
